---
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or
# https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2023 Maxwell G <maxwell@gtmx.me

name: nox
'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Run once per week (Monday at 04:00 UTC)
  schedule:
    - cron: '0 4 * * 1'
  workflow_dispatch:

env:
  FORCE_COLOR: "1"

jobs:
  nox:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: antsibull-docs-parser
    strategy:
      fail-fast: false
      matrix:
        include:
          - session: test
            python-versions: "3.8, 3.9, 3.10, 3.11, 3.12, 3.13"
            other-args: "-p 3.8 3.9 3.10 3.11 3.12 3.13"
            codecov: true
            packages: ""

          - session: lint
            python-versions: "3.13"
            other-args: ""
            codecov: false
            packages: ""

          - session: create_vectors
            python-versions: "3.13"
            other-args: ""
            codecov: false
            packages: ""
    name: "Run nox ${{ matrix.session }} session"
    steps:
      - name: Check out antsibull-docs-parser
        uses: actions/checkout@v4
        with:
          path: antsibull-docs-parser
          persist-credentials: false
      - name: Install extra packages
        if: "matrix.packages != ''"
        run: |
          sudo apt-get install -y ${{ matrix.packages }}
      - name: Setup nox
        uses: wntrblm/nox@2024.10.09
        with:
          python-versions: "${{ matrix.python-versions }}"
      - name: Set up nox environments
        run: |
          nox -v -e "${{ matrix.session }}" ${{ matrix.other-args }} --install-only
          ${{ matrix.codecov && 'nox -v -e coverage --install-only' || '' }}
      - name: "Run nox -e ${{ matrix.session }} ${{ matrix.other-args }}"
        run: |
          nox -v -e "${{ matrix.session }}" ${{ matrix.other-args }} --reuse-existing-virtualenvs --no-install
      - name: Report coverage
        if: ${{ matrix.codecov }}
        run: |
          nox -v -e coverage --reuse-existing-virtualenvs --no-install
      - name: Upload coverage
        if: ${{ matrix.codecov }}
        uses: codecov/codecov-action@v5
        with:
          name: "${{ matrix.session }}"
          working-directory: antsibull-docs-parser
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  nox-test-37:
    # python3.7 is not available on ubuntu-latest
    runs-on: ubuntu-22.04
    name: "Run nox test session (Python 3.7)"
    defaults:
      run:
        working-directory: antsibull-docs-parser
    steps:
      - name: Check out antsibull-docs-parser
        uses: actions/checkout@v4
        with:
          path: antsibull-docs-parser
          persist-credentials: false
      - name: Setup nox
        uses: wntrblm/nox@2024.10.09
        with:
          python-versions: "3.7"
      - name: Set up nox environments
        run: |
          nox -v -e "test" -p 3.7 --install-only
          nox -v -e coverage --install-only
      - name: "Run nox -e test -p 3.7"
        run: |
          nox -v -e "test" -p 3.7 --reuse-existing-virtualenvs --no-install
      - name: Report coverage
        run: |
          nox -v -e coverage --reuse-existing-virtualenvs --no-install
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          name: "test"
          working-directory: antsibull-docs-parser
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  nox-test-36:
    # python3.6 is not available on ubuntu-latest
    runs-on: ubuntu-20.04
    name: "Run nox test session (Python 3.6)"
    defaults:
      run:
        working-directory: antsibull-docs-parser
    steps:
      - name: Check out antsibull-docs-parser
        uses: actions/checkout@v4
        with:
          path: antsibull-docs-parser
          persist-credentials: false
      - name: Setup nox
        uses: wntrblm/nox@2024.03.02  # DO NOT UPDATE THIS! Newer versions do not work with Python 3.6
        with:
          python-versions: "3.6"
      # https://github.com/ansible-community/antsibull-docs-parser/issues/25
      # Newer virtualenv versions seem to cause failures with Python 3.6
      - name: Setup nox - downgrade virtualenv
        run: |
          pipx inject --force nox 'virtualenv<20.22.0'
      - name: Set up nox environments
        run: |
          nox -v -e test -p 3.6 --install-only
          nox -v -e coverage --install-only
      - name: Run unit tests
        run: |
          nox -v -e test -p 3.6 --reuse-existing-virtualenvs --no-install
      - name: Report coverage
        run: |
          nox -v -e coverage --reuse-existing-virtualenvs --no-install
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          name: nox-test-36
          working-directory: antsibull-docs-parser
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
